{% extends "mineexplorer/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li><a href="{% url 'mineexplorer:home' %}">Home</a></li>
  <li ><a href="{% url 'mineexplorer:user_documentation' %}">User Documentation</a></li>
  <li><a href="{% url 'mineexplorer:help_file' %}">Help File</a></li>
  <li class="active"><a href="{% url 'mineexplorer:area' %}">Map</a></li><br/>
  <li><h5>Step 1</h5></li>
  <li>Click The button below to draw a polygon</li>
  <li><button data-dojo-type="dijit/form/Button">Polygon</button></li>
  <li><h5>Step 2</h5></li>
  <li>Enter Elevation (in meters) manually in the box below.</li>
  <li><input type="number" id="elevation" value="1750"/></li>
  <li><h5>Step 3</h5></li>
  <li><button type="button" id="calc">Click here to compute the volume</button></li>
  <div id="statusDiv">
    <p id="volstatus"></p>
  </div>
  <div id="volume"></div>


{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/dijit/themes/nihilo/nihilo.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
    <style>
      html, body, #map, #mainWindow {
        font-family: sans-serif;
        height: 100%;
        width: 100%;
      }
      html, body {
        margin: 0;
        padding: 0;
      }
      #header {
        height: 80px;
        overflow: auto;
        padding: 0.5em;
      }
    </style>
{% endblock %}

{% block app_content %}
    <script src="https://js.arcgis.com/3.16/"></script>

  <div id="mainWindow">
    <div id="map"></div>
  </div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="https://js.arcgis.com/3.16compact/"></script>
  <script src="{% static 'mineexplorer/js/mine.js' %}"></script>
{% endblock %}






