{% extends "mineexplorer/base.html" %}

{% block app_content %}
<style>
  p  {
  width: 1100px;
}
</style>
  <h1>Welcome!</h1>
  <p>This Tethys App allows the user to select a possible mining location in southeastern Idaho and a proposed elevation for a mining cut. The Mining Explorer App then computes the volume of material to be removed and creates an updated DEM showing the cut.</p>
  <p>The navigation buttons on the left-hand side of the page will guide you to the map, a help file, and technical and design documentation.<p>
  <p>Click on <b>Map</b> on the left hand side to access the tool!</p>
  <p>The image below shows the area that the tool will work for.</p>

  <img src="/static/mineexplorer/images/DEMLocation.JPG"width="500" height="500">
  <!--<div id="map"></div>-->
{% endblock %}

